{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-6 offset-3">
            <h1 class="bg-light text-center">You answered correctly at {{ score }} of {{ nb }} questions</h1>
        </div>
    </div>
{% endblock %}