{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="col-6 offset-3">
        <h1 class="bg-light text-center">Select a theme</h1>
    </div>
    {% for theme in themes %}
    <div class="text-center mt-5">
        <a href="/quizz/initialize/{{ theme.title }}/1"><button class="btn btn-primary fixed-size">{{ theme.title }}</button></a>
    </div>
    {% endfor %}

</div>
{% endblock %}