{% extends 'layout.html.twig' %}

{% block content %}
   <div class="container d-flex justify-content-center " >
      <div class="card bg-light text-dark shadow-lg home-card border border-white rounded0000">
         <img src="https://www.thecocktaildb.com/images/media/drink/vuquyv1468876052.jpg" class="card-img" alt="cocktail" style="height: 30%">
         <div class="card-img-overlay">
            <h3 class="card-title text-white">Afterglow</h3>
         </div>
         <div class="card-body d-flex justify-content-center">
            <ul>
               <li>Grenadine</li>
               <li>Orange Juice</li>
               <li>Pineapple Juice</li>
            </ul>
            <ul>
               <li>1part</li>
               <li>4parts</li>
               <li>4parts</li>
            </ul>
         </div>
         <div class="card-body text-center">
            <p>Mix. Serve over ice.</p>
         </div>
      </div>
   </div>
{% endblock %}
