.webcam, img {
    width: 500px;
    height: 300px;
}
.container{
    height: 90%;
}
body{
    background-image: url("https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    backdrop-filter: grayscale(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}