main {
    min-height: calc(100vh - 56px - 123px - 10px);
}

nav img {
    height: 50px;
    width: 45px;
    margin-right: 20px;
}

.webcam, img {
    width: 500px;
    height: 300px;
}

h3 {
    color: cadetblue;
}

.size {
    width: 40%;
    background-color: rgba(255,255,255);
    padding-right: 5px;
    padding-left: 5px;
    min-height: calc(100vh - 56px - 123px - 10px);
}

.size img {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 5px;
}

.no-transform {
    list-style: none;
}

body{
    background-image: url("/assets/images/fond.jpg");
    backdrop-filter: grayscale(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.hidden{
    display: none;
}

/* Footer  */

.page-footer {
    background-color: white;
}

.page-footer img {
    margin-top: 25px;
    width: 50px;
    height: auto;
    color: #e0013f;
}

footer .row {
    margin-top: 0 !important;
}

footer p {
    margin-bottom: 0;
}

/* form*/
form {
    width: 30%;
}

.bg-light {
    background-color: white !important;
    padding-bottom: 10px;
}

.btn-primary {
    height: 100px;
    width: 300px;
    font-size: 1.5em;
    background-color: white;
    color: black;
}

nav .nav-link:hover {
    color: cadetblue !important;
    font-size: 1.2rem;
    transition: 0.4s;
}

nav .nav-link {
    font-size: 1.1rem;
    font-variant-caps: small-caps;
}

