<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> About hacocktail</span> After a quarantine too much long, we decided to travel, as safety as possible. To do so, we invite you to travel
            all around the world, by following the best cocktails and visited the most beautiful beach,cities and outdoors area.
        </p>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fa fa-map-marker"></i>
            <p> Bordeaux, France</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> hackoctail@wildcodeschool.com</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <h2> <img src="/assets/images/favicon.png"> Hackoctail</h2>
        <p class="menu">
            <a href="#"> Home</a> |
            <a href="#">Login</a> |
            <a href="#">Theme</a> |
            <a href="#">Cocktail</a> | |
            <a href="#"> Contact</a>
        </p>
        <p class="name"> Hacocktail &copy; 2020</p>
    </div>
</footer>