<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
        <a class="navbar-brand" href="/">Hackathon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/webcam/random/beach">Random webcam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/met/random">Random met</a>
                    </li>
            </ul>
        </div>
    </nav>
</header>
