{% extends 'layout.html.twig' %}

{% block title %}
    Webcam random
{% endblock %}

{% block content %}

    <div class="container">
        <div class="webcam">
            <a name="windy-webcam-timelapse-player" data-id="{{ webcam.id }}" data-play="day" href="https://windy.com/webcams/{{ webcam.id }}" target="_blank">
                {{ webcam.title }}
            </a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
        </div>
    </div>
{% endblock %}
